* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}

.up-and-down {
    -webkit-animation: turn-up-down 1s ease-in infinite;
    animation: turn-up-down 1s ease-in infinite;
}

.arr-wrap {
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.content-wrap {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 400px;
    margin-top: -200px;
   
    text-align: center;
}

.content-wrap .fade-in:nth-child(1) {
    transition-delay: 1s;
}

.content-wrap .fade-in:nth-child(2) {
    transition-delay: 1.5s;

}

.content-wrap .fade-in:nth-child(3) {
    transition-delay: 2s;

}

.content-wrap .fade-in:nth-child(4) {
    transition-delay: 2.5s;
}

.content-wrap .fade-in:nth-child(5) {
    transition-delay: 3s;
}

.content-wrap .fade-in:nth-child(6) {
    transition-delay: 3.5s;
}

.content-wrap .fade-in:nth-child(7) {
    transition-delay: 4s;
}

.content-wrap .fade-in-pic:nth-child(1) {
    transition-delay: .5s;
}

.content-wrap .fade-in-pic:nth-child(2) {
    transition-delay: 1s;
}

.content-wrap .fade-in-pic:nth-child(3) {
    transition-delay: 1.5s;
}

.content-wrap .fade-in-pic:nth-child(4) {
    transition-delay: 2s;
}

.content-wrap .fade-in-pic:nth-child(5) {
    transition-delay: 2.5s;
}


.content-wrap .fade-in {
   
    color: #696562;
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: scale(10px);
    transition: all 1s;
}


.active .content-wrap .fade-in {
   
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
.content-wrap .fade-in-pic {
    opacity: 1;
   
    -webkit-transform: rotate(0deg) scale(0);
    transform:  rotate(0deg) scale(0);
    transition: all .5s;
}


.active .content-wrap .fade-in-pic {
    opacity: 1;

}

.img-photo{
    border:4px solid white;
    box-shadow: 2px 2px 4px grey;
}

.last-today{
    height:30px;
    width:200px;
    background:rgb(247, 107, 107);
    border-radius: 15px;
    line-height: 30px;
    font-size: 20px;
    margin:0 auto;
    color:white;
}

#section1 .init-opacity-zero{
    opacity:0;
}
.light-blue{
    color:rgb(40, 138, 219);
}

.light-red{
  color:rgb(192, 104, 104);
  font-size: 130%;
}

.light-green{
    color:green;
}

.light-orange{
    color:rgb(40, 138, 219);
}

#section1{
    background:url(../img/bg-1.png) no-repeat;
    background-size: cover;
}

#section2{
    background:url(../img/2-bg.png) no-repeat;
    background-size: cover;
}

#section3{
    background:url(../img/3-bg.png) no-repeat;
    background-size: cover;
}

#section4{
    background:url(../img/4-bg.png) no-repeat;
    background-size: cover;
}

#section5{
    background:url(../img/5-bg.png) no-repeat;
    background-size: cover;
}

#section6{
    
}


#section7{
    background:url(../img/7-bg.png) no-repeat;
    background-size: cover;
}


#section8{
    background:url(../img/8-bg.png) no-repeat;
    background-size: cover;
}


#section9{
    background:url(../img/9-bg.png) no-repeat;
    background-size: cover;
}






.random-img{
    position:absolute;
}
.active .content-wrap .random-img-1{
    z-index: 2;
    left:20px;
    top:0px;
    -webkit-transform:rotate(-10deg) scale(1);
            transform:rotate(-10deg) scale(1);

}
.active .content-wrap .random-img-2{
    z-index: 3;

    right:20px;
    top:10px;
    -webkit-transform:rotate(10deg) scale(1);
            transform:rotate(10deg) scale(1);
}
.active .content-wrap .random-img-3{
    z-index: 4;

    left:30px;
    bottom:10px;
    -webkit-transform:rotate(-30deg) scale(1);
            transform:rotate(-30deg) scale(1);
}
.active .content-wrap .random-img-4{
    z-index: 5;

    right:30px;
    bottom:5px;
    -webkit-transform:rotate(7deg) scale(1);
            transform:rotate(7deg) scale(1);
}
.active .content-wrap .random-img-5{
    z-index: 6;

    left:70px;
    top:0px;
    -webkit-transform:rotate(-3deg) scale(1);
            transform:rotate(-3deg) scale(1);
}

.title-img{
    max-width: 400px;
    width:100%;
}


@-webkit-keyframes turn-up-down {
    0% {
        -webkit-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
    50% {
        -webkit-transform: translate3d(0px, -5px, 0px);
        transform: translate3d(0px, -5px, 0px)
    }
    100% {
        -webkit-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@keyframes turn-up-down {
    0% {
        -webkit-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
    50% {
        -webkit-transform: translate3d(0px, -5px, 0px);
        transform: translate3d(0px, -5px, 0px)
    }
    100% {
        -webkit-transform: translate3d(0px, 0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}